---
import Layout from "@/layouts/Layout.astro";
import { Resend } from "resend";
import { z } from "zod";

const schema = z.object({
  name: z.string().min(3).max(50),
  email: z.string().email(),
  message: z.string().min(10).max(500),
});

if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  const name = data.get("name");
  const email = data.get("email");
  const message = data.get("message");

  const parsedData = schema.safeParse({ name, email, message });

  if (!parsedData.success) {
    return Astro.redirect(`/contact?error=${parsedData.error.errors}`);
  }

  const resend = new Resend(import.meta.env.RESEND_API_KEY);

  const { error } = await resend.emails.send({
    from: `New Message From Portfolio <${email}>`,
    to: [import.meta.env.CONTACT_EMAIL],
    subject: `New Message From ${name}`,
    html: `<h1>${name}</h1><p>${message}</p><br><p>${email}</p><br>${new Date().toISOString()}`,
  });

  if (error) {
    return Astro.redirect(`/contact?error=${error.message}`);
  }

  return Astro.redirect("/contact?success=true");
}

const url = new URL(Astro.request.url);
const error = url.searchParams.get("error");
const success = url.searchParams.get("success");
---

<Layout title="Contact">
  <h1 class="text-3xl font-bold">Contact</h1>
  <p class="my-4">Need helo for your project? Feel free to contact me.</p>

  <form method="POST" class="flex flex-col gap-4">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required />

    <label for="email">Email</label>
    <input type="email" id="email" name="email" required />

    <label for="message">Message</label>
    <textarea id="message" name="message" required></textarea>

    <button type="submit">Send</button>

    <p class="text-gray-400">Expect a reply everything from 1-2 business days.</p>

    {error && <p class="text-red-500">{error}</p>}
    {success && <p class="text-green-500">Message sent successfully!</p>}
  </form>
</Layout>
